<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand ms-4">
    {{ title }}
  </a>
</nav>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="list-group">
        <!--@Al seleccionar un elemento li de la lista de empleados llamamos al evento "openEdit(empleado)" y le pasamos el valor de empleado, o sea un elemento del array que estamos recorriendo con el *ngFor -->

        <!--@[class.active]="empleado === empleadoSeleccionado" nos permite colocarle la clase active al elemento li cuando el valor de empleado sea igual al de empleadoSeleccionado -->
        <li
          *ngFor="let empleado of empleadoArray"
          (click)="openEdit(empleado)"
          [class.active]="empleado === empleadoSeleccionado"
          class="list-group-item list-group-item-action mb-2"
        >
          <span class="badge bg-primary"> {{ empleado.id }} </span>
          {{ empleado.name }} - {{ empleado.country }}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">Insertar nuevo empleado</div>
          <div class="form-group">
            <!--@[(ngModel)]="empleadoSeleccionado.name" bindea el input con la propiedad "name" de la clase empleado  -->
            <input
              [(ngModel)]="empleadoSeleccionado.name"
              type="text"
              placeholder="Colocar nombre empleado"
              id="name"
              class="form-control mb-2"
            />
            <!--@[(ngModel)]="empleadoSeleccionado.country" bindea el input con la propiedad "country" de la clase empleado  -->
            <input
              [(ngModel)]="empleadoSeleccionado.country"
              type="text"
              placeholder="Colocar pais empleado"
              id="pais"
              class="form-control mb-2"
            />
            <!--@En el evento "click" llama al metodo addOrEdit() -->
            <button (click)="addOrEdit()" class="btn btn-primary me-2">
              Submit
            </button>
            <!--@Muestra el boton de "delete" solo si el id de empleadoSeleccionado es distinto de 0, o sea si existe en el array -->
            <!--@En el evento "click" llama al metodo delete() -->
            <button
              *ngIf="empleadoSeleccionado.id !== 0"
              (click)="delete()"
              class="btn btn-danger"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
